- var HOMEPAGE = false;
block variables
    
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/bootstrap.js')
  body
    include ./includes/navbar.jade
    if HOMEPAGE 
        include ./includes/showcase.jade

    .container
        block content
     
        hr
        footer
        p &copy; Company 2014
