extends layout

block content

    h1 Services
    
    each service, i in services
        div.well
            h3 #{service.name}
            p #{service.description}
            p 
             | Price Range: #{service.price_range}
