// Main jumbotron for a primary marketing message or call to action
.jumbotron
  .container
      .row
          .col-md-7
               h1 Computer Not Working?
               p
                   | Is your computer running slow? or maybe not at all? Call us for a quick and easy quote
               p
                   a.btn.btn-primary.btn-lg(href="#", rule='button') Learn more >>
           .col-md-5
           img(src='images/mouse.png')
